<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'temp.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}" />
    <script   src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
</head>
<body>
<div>
    <div class="ui centered page grid stackable padded auth" style="height:100%;">
        <div class="row middle aligned content">
            <div class="column ten wide">
                <div class="ui header huge"> Oops! Looks like you made a wrong turn!</div>
                <br>
                <div>
                {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <br>
                </div>
                <div>
                   <a href="/newsfeed"><button class="ui button">Go Back</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

