<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'temp.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}" />
    <script   src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
</head>
<body>
<div style="height:90%;">
    <div class="ui centered page grid stackable padded auth" style="height:100%;">
        <div class="row middle aligned content">
            <div class="column ten wide">
                <div class="ui header huge centered"> Oops! Looks like you made a wrong turn!</div>
                <br>
                <div class="ui centered">
                {% if messages %}
                    <div class="ui error message">
                        <div class="header">
                            There were some errors with your submission
                        </div>
                        {% for message in messages %}
                            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
                <br>
                <div class="ui centered grid">
                   <a href="/newsfeed"><div class="ui button centered">Go Back</div></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

