<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'temp.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}" />
    <script   src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
</head>
<body>
<div class="login">
    <div class="ui centered page stackable padded grid auth" style="height:90%">
        <div class="row middle aligned content">
            <div class="ui header huge"> Oops! Looks like you made a wrong turn!</div>
        </div>
    </div>
</div>
</body>
</html>

