<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'temp.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}" />
    <script   src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
    <script src="{% static 'interactive_bg/jquery.interactive_bg.js' %}"></script>
    <style>
        .ibg-bg {
            position: absolute;
        }
    </style>
</head>
<body>
<script>
    $(document)
        .ready(function() {
            $(".login").interactive_bg({
               strength: 25,              // Movement Strength when the cursor is moved. The higher, the faster it will reacts to your cursor. The default value is 25.
               scale: 1.15,               // The scale in which the background will be zoomed when hovering. Change this to 1 to stop scaling. The default value is 1.05.
               animationSpeed: "100ms",   // The time it takes for the scale to animate. This accepts CSS3 time function such as "100ms", "2.5s", etc. The default value is "100ms".
               contain: true,             // This option will prevent the scaled object/background from spilling out of its container. Keep this true for interactive background. Set it to false if you want to make an interactive object instead of a background. The default value is true.
               wrapContent: false         // This option let you choose whether you want everything inside to reacts to your cursor, or just the background. Toggle it to true to have every elements inside reacts the same way. The default value is false
             });
            $(window).resize(function() {
              $(".login > .ibg-bg").css({
                width: $(window).outerWidth(),
                height: $(window).outerHeight()
              })
            });
            console.log("ello");
        });
</script>
<div class="login" data-ibg-bg="{% static 'media/notes.jpg' %}" style="position:absolute !important; z-index:0; width:100%">
    <div class="ui fixed inverted main menu">
        <div class="ui main container" style="width:100%">
            <a href="/login" class="title item">RendezWho?</a>
            <!--<div class="right menu">
                <div class="item">
                    <a href="/signup"><i class="user icon"></i>Sign up</a>
                </div>
            </div>-->
        </div>
    </div>
    <div class="ui centered page stackable padded grid auth" style="height:90%; position:relative; top:0">
        <div class="row middle aligned content">
            <!--<div class="column eight wide left floated" class="bottomalign">
                 <h1 class="signlog">RendezWho?</h1>
            </div>-->
            <div class="column fourteen wide"><!--
        <h4 class="ui block top attached header">Login</h4> -->
                <div class="ui huge header" style="font-size: 10vh"> RendezWho?</div>
                <div class="ui huge header"> A place to schedule meetings with friends, coworkers and acquintances...</div>
                <br><br>
               <a href="{% url 'social:begin' 'google-oauth2' %}?next=http://rendezwho-project.herokuapp.com/create/"><div class="ui button teal large">Login with Google</div></a>

            </div>
        </div>
    </div>
    <!--<div>
        <a href="{% url 'social:begin' 'google-oauth2' %}?next=http://rendezwho-project.herokuapp.com/newsfeed/">Login with Google</a>
    </div>-->
</div>
</body>
</html>