<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'temp.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script   src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'typed/js/typed.js' %}"></script>
    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
</head>
<body>
<script>
 $(document).ready(function() {
     $(document).on('click', '.add', function (e) {
         $('.ui.modal').modal('show');
     });

     $(function(){
        $( "#datepicker1" ).datepicker();
        });
     $(function(){
        $( "#datepicker2" ).datepicker();
        });
     $(function(){
        $( "#datepicker3" ).datepicker();
        });

     $('.ui.form').form({fields: {}});
     $('.ui.radio.checkbox').checkbox();

     $(function(){
		$("#welcome").typed({
			strings: ["Welcome {{ user.first_name }}!"],
			typeSpeed: 40
		});
	});
 });
</script>
<div class="signupStyle">
<div class="ui main container">
    <div class="ui fixed inverted main menu">
          <div class="ui main container" style="width:100%">
                <a href="/newsfeed" class="title item">RendezWho?</a>
                <div class="right menu">
                    <div class="ui simple dropdown item">
                        <i class="user icon"></i>{{user.first_name}} {{user.last_name}}
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href="/myProfile">
                                <i class="user icon"></i> My profile
                            </a>
                            <a class="item" href="/search">
                                <i class="search icon"></i> Search
                            </a>
                            <a class="item" href="/logout">
                                <i class="ellipsis horizontal icon"></i> Logout
                            </a>
                        </div>
                    </div>
                </div>
          </div>
    </div>
    <br><br><br>
    <div class="ui huge header center aligned" id="welcome"></div>
    <br>
    <div class="ui stackable grid">
        <div class="ui stackable two column row">
            <div class="column" style=" height: 100%; overflow: scroll;">
                <div class="ui large feed">
                  <div class="event">
                    <div class="label">
                      <i class="user icon"></i>
                    </div>
                    <div class="content">
                      <div class="summary">
                        <a class="user">
                          Elliot Fu
                        </a> added you as a friend
                        <div class="date">
                          1 Hour Ago
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="column" style="height: 100%; overflow: scroll">
                <button class="add ui right floated large teal  button"> <i class="write icon"></i> New Request </button>
                <div class="ui header large">Pending Requests</div>
                <div class="ui divided items">
                    {% for requestL in ownerList %}
                      <div class="item">
                        <div class="content">
                          <div class="header">{{ requestL.title }}</div>
                          <br>
                          <div class="meta left floated">
                            <span class="cinema"><b>Invited:</b> {{ requestL.requestee }}</span>
                            <span class="cinema"><b>Date:</b> {{ requestL.date }}</span>
                            <!--<span class="cinema"><b>Time:</b> {{ requestL.time }}</span>-->
                          </div>
                            <a href = "{% url 'editRequest' requestL.id %}"><div class="ui right floated button">
                                <i class="edit icon"></i> Edit
                            </div></a>
                            <form class="ui form attached fluid compact right floated" action="/deleteRequest/" method="post">
                            {% csrf_token %}
                            <input type="text" name="requestID" value="{{ requestL.id }}" style="display:none">
                            <button class="ui button submit right floated "><i class="remove icon"></i> Delete</button>
                             </form>
                        </div>
                      </div>
                        {% empty %}
                        <div class="ui header small"> No pending requests </div>
                    {% endfor %}
                </div>
                <div class="ui header large">Invitations</div>
                <div class="ui divided items">
                    {% for requestL in requestList %}
                    <div class="item">
                        <div class="content">
                          <div class="header">{{ requestL.title }}</div>
                          <br>
                          <div class="meta left floated">
                            <span class="cinema"><b>Invited by:</b> {{ requestL.requestee }}</span>
                            <span class="cinema"><b>Date:</b> {{ requestL.date }}</span>
                           <!-- <span class="cinema"><b>Time:</b> {{ requestL.time }}</span> -->
                          </div>
                            <a href = "#/"><div class="ui right floated button disabled">
                                <i class="checkmark icon"></i> Accept
                            </div></a>
                            <a href = "#/"><div class="ui right floated button disabled">
                                <i class="remove icon"></i> Reject
                            </div></a>
                        </div>
                      </div>
                      {% empty %}
                        <div class="ui header small">No pending invitations</div>
                    {% endfor %}
                </div>
                <div class="ui header large">Connect Requests</div>
                <div class="ui divided items">
                    {% for connection in friendList %}
                    <div class="item">
                        <div class="content">
                          <div class="header">{{ connection.name }}</div>
                          <br>
                            <form method="post" action="/accept/" class="ui form">
                                {% csrf_token %}
                                <input type="text" value="connection.name" style="display: none;">
                                <button class="ui right floated button " type="submit">
                                    <i class="checkmark icon"></i> Accept
                                </button>
                            </form>
                            <form method="post" action="/reject/" class="ui form">
                                {% csrf_token %}
                                <input type="text" value="connection.name" style="display: none;">
                                <button class="ui right floated button " type="submit">
                                    <i class="remove icon"></i> Reject
                                </button>
                            </form>
                        </div>
                      </div>
                      {% empty %}
                        <div class="ui header small">No connection requests</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="ui modal">
      <i class="close icon"></i>
      <div class="header">
        New Request
      </div>
      <div class="content">
          <form class="ui form attached fluid segment compact" action="/matchRequest/" method = "post" style="background-color: rgba(255,255,255,0.35);">
              {% csrf_token %}
              <div class="ui grid">
                  <div class="eight wide column">
                      <div class="field">
                          <label class="ui inverted"> Your Connections </label>
                            {% for connection in connections %}
                            <div class="field">
                              <div class="ui radio checkbox">
                                  <input type="radio" name="person" value="{{ connection }}" tabindex="0" class="hidden">
                                  <label>{{ connection }}</label>
                              </div>
                            </div>
                            {% endfor %}
                      </div>    
                  </div>
                  <div class="eight wide column">
                      <div class="field">
                          <label class="ui inverted">Title</label>
                          <textarea name="title" rows="1"></textarea>
                      </div>
                      <div class="inline fields">
                          <label for="fruit">Privacy</label>
                          <div class="field">
                              <div class="ui radio checkbox">
                                  <input type="radio" name="type" value="public" checked="" tabindex="0" class="hidden">
                                  <label>Public</label>
                              </div>
                          </div>
                          <div class="field">
                              <div class="ui radio checkbox">
                                  <input type="radio" name="type" value="private" tabindex="0" class="hidden">
                                  <label>Private</label>
                              </div>
                          </div>
                      </div>
                      <div class="field">
                          <label class="ui inverted">Location</label>
                          <textarea name="location" rows="1"></textarea>
                      </div>
                      <div class="field">
                          <label class="ui inverted">Date 1</label>
                          <input type="text" name="date1" id="datepicker1">
                      </div>
                      <div class="inline fields">
                         <label for="fruit">Time Period</label>
                          <div class="field">
                              <div class="ui radio checkbox">
                                  <input type="radio" name="time1" value="morning" checked="" tabindex="0" class="hidden">
                                  <label>Morning</label>
                              </div>
                          </div>
                          <div class="field">
                              <div class="ui radio checkbox">
                                  <input type="radio" name="time1" value="afternoon" tabindex="0" class="hidden">
                                  <label>Afternoon</label>
                              </div>
                          </div>
                          <div class="field">
                              <div class="ui radio checkbox">
                                  <input type="radio" name="time1" value="evening" tabindex="0" class="hidden">
                                  <label>Evening</label>
                              </div>
                          </div>
                          <div class="field">
                              <div class="ui radio checkbox">
                                  <input type="radio" name="time1" value="all" tabindex="0" class="hidden">
                                  <label>All</label>
                              </div>
                          </div>
                      </div>
                      <div class="field">
                          <label class="ui inverted">Date 2</label>
                          <input type="text" name="date2" id="datepicker2">
                      </div>
                      <div class="inline fields">
                         <label for="fruit">Time Period</label>
                          <div class="field">
                              <div class="ui radio checkbox">
                                  <input type="radio" name="time2" value="morning" checked="" tabindex="0" class="hidden">
                                  <label>Morning</label>
                              </div>
                          </div>
                          <div class="field">
                              <div class="ui radio checkbox">
                                  <input type="radio" name="time2" value="afternoon" tabindex="0" class="hidden">
                                  <label>Afternoon</label>
                              </div>
                          </div>
                          <div class="field">
                              <div class="ui radio checkbox">
                                  <input type="radio" name="time2" value="evening" tabindex="0" class="hidden">
                                  <label>Evening</label>
                              </div>
                          </div>
                          <div class="field">
                              <div class="ui radio checkbox">
                                  <input type="radio" name="time2" value="all" tabindex="0" class="hidden">
                                  <label>All</label>
                              </div>
                          </div>
                      </div>
                      <div class="field">
                          <label class="ui inverted">Date 3</label>
                          <input type="text" name="date3" id="datepicker3">
                      </div>
                      <div class="inline fields">
                         <label for="fruit">Time Period</label>
                          <div class="field">
                              <div class="ui radio checkbox">
                                  <input type="radio" name="time3" value="morning" checked="" tabindex="0" class="hidden">
                                  <label>Morning</label>
                              </div>
                          </div>
                          <div class="field">
                              <div class="ui radio checkbox">
                                  <input type="radio" name="time3" value="afternoon" tabindex="0" class="hidden">
                                  <label>Afternoon</label>
                              </div>
                          </div>
                          <div class="field">
                              <div class="ui radio checkbox">
                                  <input type="radio" name="time3" value="evening" tabindex="0" class="hidden">
                                  <label>Evening</label>
                              </div>
                          </div>
                          <div class="field">
                              <div class="ui radio checkbox">
                                  <input type="radio" name="time3" value="all" tabindex="0" class="hidden">
                                  <label>All</label>
                              </div>
                          </div>
                      </div>
                      <button class="ui fluid large teal submit button" type="submit">Suggest</button>

                  </div>
              </div>
          </form>
      </div>
    </div>
</div>
</div>
</body>
</html>