<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'temp.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script   src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
</head>
<body>
<script>
 $(document).ready(function() {
     $(document).on('click', '.add', function (e) {
         $('.ui.modal').modal('show');
     });

     $(function(){
        $( "#datepicker" ).datepicker();
        });

     $('.ui.form').form({fields: {}});
     $('.ui.radio.checkbox').checkbox();
 });
</script>
<div class="signupStyle">
<div class="ui main container">
    <div class="ui fixed inverted main menu">
          <div class="ui main container">
                <a ng-href="#/" class="title item">LOGO</a>
                <div class="right menu">
                    <div class="ui simple dropdown item">
                        <i class="user icon"></i>{{user.first_name}} {{user.last_name}}
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href="/userprofile">
                                <i class="search icon"></i> My profile
                            </a>
                            <a class="item" href="/search">
                                <i class="search icon"></i> Search
                            </a>
                            <a class="item" href="/logout">
                                <i class="ellipsis horizontal icon"></i> Logout
                            </a>
                        </div>
                    </div>
                </div>
          </div>
    </div>
    <br><br><br>
    <button class="add ui fluid large teal  button"> New Request </button>
    <div class="ui header large">Pending Request</div>
    {% for requestL in requestList %}
        <div>
            <div class="ui header medium">{{requestL.title}}</div>
            <form class="ui form attached fluid compact" action="/deleteRequest/" method="post">
                {% csrf_token %}
                <input type="text" name="requestID" value="{{ requestL.id }}" style="display:none">
                <button class="ui fluid button submit ">Delete</button>
            </form>
            <a href="{% url 'editRequest' requestL.id %}"><button class="ui button teal fluid">Edit</button></a>
        </div>
    {% endfor %}
    <div class="ui modal">
      <i class="close icon"></i>
      <div class="header">
        New Request
      </div>
      <div class="content">
          <form class="ui form attached fluid segment compact" action="/matchRequest/" method = "post" style="background-color: rgba(255,255,255,0.35);">
              {% csrf_token %}
              <div class="field">
                  <label class="ui inverted">Title</label>
                  <textarea name="title" rows="1"></textarea>
              </div>
              <div class="inline fields">
                  <label for="fruit">Privacy</label>
                  <div class="field">
                      <div class="ui radio checkbox">
                          <input type="radio" name="type" value="public" checked="" tabindex="0" class="hidden">
                          <label>Public</label>
                      </div>
                  </div>
                  <div class="field">
                      <div class="ui radio checkbox">
                          <input type="radio" name="type" value="private" tabindex="0" class="hidden">
                          <label>Private</label>
                      </div>
                  </div>
              </div>
              <div class="field">
                  <label class="ui inverted">To</label>
                  <textarea name="person" rows="1"></textarea>
              </div>
              <div class="field">
                  <label class="ui inverted">Location</label>
                  <textarea name="location" rows="1"></textarea>
              </div>
              <div class="field">
                  <label class="ui inverted">Date</label>
                  <input type="text" name="date" id="datepicker">
              </div>
              <div class="field">
                  <label class="ui inverted">Time</label>
                  <textarea name="time" rows="1"></textarea>
              </div>
              <button class="ui fluid large teal submit button" type="submit">Submit</button>
          </form>
      </div>
    </div>

</div>
</div>
</body>
</html>

