<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'temp.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}" />
    <script   src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
</head>
<body>
<script>
    $(document)
        .ready(function() {
            $('.ui.form')
                .form({
                    fields: {
                        username: {
                            identifier: 'username',
                            rules: [{
                                type: 'empty',
                                prompt: 'Please enter your username'
                            }]
                        },
                        password: {
                            identifier: 'password',
                            rules: [{
                                type: 'empty',
                                prompt: 'Please enter your password'
                            }, {
                                type: 'length[8]',
                                prompt: 'Your password must be at least 8 characters'
                            }]
                        }
                    }
                });
        });
</script>
<div class="login">
    <div ng-controller="MenuCtrl" class="ui fixed inverted main menu">
        <div class="ui main container">
            <a ng-href="/login" class="title item">LOGO</a>
            <div class="right menu">
                <div class="item">
                    <a href="/login"><i class="user icon"></i>Login</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui centered page stackable padded grid auth">
        <div class="row middle aligned content">
            <div class="column eight wide left floated" class="bottomalign">
                 <h1 class="signlog">RendezWho?</h1>
            </div>
            <div class="column six wide"><!--
        <h4 class="ui block top attached header">Login</h4> -->
                <form class="ui form attached fluid segment compact" action="/login/" method = "post" style="background-color: rgba(255,255,255,0.35);">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name = "username" placeholder="Username">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name = "password" placeholder="Password">
                        </div>
                    </div>
                    <div class="ui fluid large teal submit button">Login</div>
                    <div class="ui error message"></div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>

